* {
    font-family: sans-serif;
}

#container {
    width: auto;
    max-width: 1052px;
    margin: 0px auto;
    text-align: center;
}

#header h1, #header h2 {
    text-align: center;
}

#selection-area {
    padding: 10px;
    margin: 20px 0px;
}

.house-img {
    display: inline-block;
    width: 100px;
    height: 157px;
    margin: 10px;
    border-radius: 5px;
}

.scroll-button {
    left: 50%;
    top: 50%;
    transform: translate(0%, -275%);
    display: inline-block;
    border-radius: 5px;
}

.arrow-img {
    width: 18px;
}

#info-name, #info-words, #info-titles, #info-founded, #info-ancestral-weapons {
    font-size: 1em;
}

#info-area {
margin: 10px auto;
display: inline-block;
width: 500px;
border-radius: 5px;
border: 1px solid black;
}

#info h4 {
padding: 10px;
}